/* ocultar pantallas que se mostraran luego */
#encodePage{
    display: none;
}
#decodePage{
    display: none;
}
#homeBtn{
    display: none;
}
/* style letras */
h1{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 8em;
    color: rgb(129, 29, 4);
    margin: 0 auto;
}

h3{
    margin: 2% 0%;
    font-size: 3em;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(129, 29, 4);
}
p{
    font-size: 2.7em;
    font-family: 'Acme', sans-serif;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10% ;
    text-align: justify;
    background: rgb(247, 229, 186);
    padding: 2.7%;
    border-radius: 20px;
    border: 4px solid rgba(184, 245, 239);

}

.labelForBtn{
    font-size: 2em !important;
    font-family: 'Acme', sans-serif;
}

body{
    background: rgb(247,170,15);
    background: linear-gradient(90deg, rgba(247,170,15,1) 48%, rgba(181,72,55,1) 100%, rgba(80,69,106,0.969625350140056) 100%);
}

#homepage {
    margin: 0 auto;
    width: 80%;
    border-radius: 20px;
    border: 4px solid rgba(184, 245, 239);
}
#title {
    width: 60%;
    height: 160px; 
    margin-left: 6%;

    /* background-color: yellow; */
    /* clear: both; */
}

#logo {
    width: 32%;
    height: 350px; 
    float: right;
    /* background-color: yellow; */
    margin-top: -140px;
    margin-right: 7%;
    /* position: relative; */
}
.homepageButton {
    background-color: rgb(52, 237, 219);
    padding: 10px 20px;
    margin-top: 3%;
    margin-left: 22%;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    color: rgb(129, 29, 4);
    border-radius: 20px;
    border: 4px solid rgba(218, 242, 240);
    width: 17em;
    height: 2.6em;
}

#pageMessage{
    text-align: center;
    /* background-color: chartreuse; */

}

#encodePage {
    padding: 2%;
    margin: 0 auto;
    width: 50%;
    border-radius: 20px;
    border: 4px solid rgba(184, 245, 239);
}

#homeBtn {
    background-color: rgb(52, 237, 219);
    margin-bottom: 1%;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1em;
    color: rgb(129, 29, 4);
    border-radius: 20px;
    border: 4px solid rgba(218, 242, 240);
    width: 8em;
    height: 2.5em;
}
/* #keyDiv {
    width: 80%;
    margin: 0 auto; 

} */
#offsetDiv{
    margin-top: 3%;
}




 
#originalKey {
    background-color: rgb(245, 233, 181);
    width: 19em;
    height: 1.7em;
    padding: 1%;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    color: rgb(129, 29, 4);
    
    }
#offset {
    background-color: rgb(245, 233, 181);
    width: 7.5em;
    height: 1.6em;
    padding: 1%;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    color: rgb(129, 29, 4);
    } 

#cipherButton {
    background-color: rgb(52, 237, 219);
    /* padding: 1%; */
    /* margin-top: 3%;
    margin-left: 22%; */
    margin: 4% 40%;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1em;
    color: rgb(129, 29, 4);
    border-radius: 20px;
    border: 4px solid rgba(218, 242, 240);
    width: 8em;
    height: 2.5em;
}

#cipherKey {
    background-color: rgb(245, 233, 181);
    width: 19em;
    height: 1.7em;
    padding: 1%;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    color: rgb(129, 29, 4);
    
    }

#clearButtonEnc {
        background-color: rgb(52, 237, 219);
        /* padding: 1%; */
        /* margin-top: 3%;
        margin-left: 22%; */
        margin: 4% 40%;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 1em;
        color: rgb(129, 29, 4);
        border-radius: 20px;
        border: 4px solid rgba(218, 242, 240);
        width: 8em;
        height: 2.5em;
    }




    /*
#shift{
    border-color: gray;    
    }
#cipherKey{
    border-color: gray;
    background-color: papayawhip;
    padding: 20px;
    }
    */




